{% load static %}
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>NutriVista - Agregar Alimento</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="{% url 'main_page' %}">
                        <span>
                            NutriVista
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                          <ul class="navbar-nav  ">
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url 'main_page' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            {% if user.is_superuser %}
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url 'lista_usuarios_inactivos' %}"> Administrar Usuarios</a>
                            </li>
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url 'listar_nutrientes' %}"> Administrar Nutrientes</a>
                            </li>
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url 'listar_todos_alimentos' %}"> Administrar Alimentos</a>
                            </li>
                            {% endif %}
                            {% if not user.is_superuser %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'agregar_alimento' %}"> Agregar Alimento</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link" href="{% url 'listar_alimentos' %}"> Listar Alimentos</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'registro_diario' %}"> Registro Diario</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'perfil_nutricional' %}"> Perfil Nutricional</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'analisis_nutricional' %}"> Análisis Nutricional</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'sugerencias_alimentos' %}"> Recomendaciones</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'logout' %}"> Logout</a>
                            </li>
                          </ul>
                            <div class="user_option">
                                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

        <!-- Mostrando el contador justo antes de la sección "Registro Diario" -->
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div id="contador" class="display-4"></div>
        </div>
    </div>

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}



    <!-- registro diario section -->
    <section class="contact_section ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <!-- Cambiar la imagen si tienes otra específica para Registro Diario -->
                        <img src="{% static 'images/2317045.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
                        <div class="heading_container">
                            <h2>
                                Registro Diario
                            </h2>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex ">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end agregar alimento section -->

    <!-- footer section -->
    <footer class="container-fluid footer_section">
        <p>
            &copy; 2023 All Rights Reserved. Design by NutriVista
            <a href="https://github.com/davidguillen2002/proyectoweb.git">GitHub</a>
        </p>
    </footer>
    <!-- footer section -->

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Script para el contador -->
    <script>
        function actualizarContador() {
            const ahora = new Date();
            const medianoche = new Date(ahora);
            medianoche.setHours(24, 0, 0, 0);
            const tiempoRestante = medianoche - ahora;
            const horas = Math.floor(tiempoRestante / (1000 * 60 * 60));
            const minutos = Math.floor((tiempoRestante % (1000 * 60 * 60)) / (1000 * 60));
            const segundos = Math.floor((tiempoRestante % (1000 * 60)) / 1000);

            document.getElementById('contador').innerHTML = horas + "h " + minutos + "m " + segundos + "s ";

            setTimeout(actualizarContador, 1000);
        }

        window.onload = actualizarContador;
    </script>

</body>

</html>




