{% load static %}
<html>

<style>
    .contact_section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;  /* Asume todo el alto visible de la pantalla */
    }

    .form_container {
        width: 80%;  /* Puede ajustar esto según lo que necesites */
        margin: 0 auto;
    }

    .table thead th {
    background-color: #333; /* Adjust this color as needed */
    color: white; /* Color of the text */
    text-align: center; /* Center align the text */
    padding: 10px 5px; /* Adjust the padding as needed for vertical alignment */
    }

    .table tbody tr {
        background-color: #f9f9f9;  /* A light grey color */
        color: black;   /* Making text color black */
    }
</style>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>NutriVista - Agregar Alimento</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="{% url 'main_page' %}">
                        <span>
                            NutriVista
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                          <ul class="navbar-nav  ">
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url 'main_page' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            {% if user.is_superuser %}
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url 'lista_usuarios_inactivos' %}"> Administrar Usuarios</a>
                            </li>
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url 'listar_nutrientes' %}"> Administrar Nutrientes</a>
                            </li>
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url 'listar_todos_alimentos' %}"> Administrar Alimentos</a>
                            </li>
                            {% endif %}
                            {% if not user.is_superuser %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'agregar_alimento' %}"> Agregar Alimento</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link" href="{% url 'listar_alimentos' %}"> Listar Alimentos</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'registro_diario' %}"> Registro Diario</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'perfil_nutricional' %}"> Perfil Nutricional</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'analisis_nutricional' %}"> Análisis Nutricional</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'sugerencias_alimentos' %}"> Recomendaciones</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'logout' %}"> Logout</a>
                            </li>
                          </ul>
                            <div class="user_option">
                                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>


    <!-- análisis nutricional section -->
    <section class="contact_section ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <!-- Aquí puedes poner alguna imagen relevante para el análisis nutricional -->
                        <img src="{% static 'images/2317045.png' %}" alt="Imagen Análisis Nutricional">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
                        <div class="heading_container">
                            <h2>
                                Resumen Nutricional y Sugerencias
                            </h2>
                        </div>

                        <!-- Aquí empieza el contenido de tu análisis nutricional -->
                        <div class="container mt-5">
                            <h2>Tu BMR: {{ bmr }} calorias</h2>
                            <table class="table table-bordered mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">Ítem</th>
                                        <th scope="col">Consumido</th>
                                        <th scope="col">Necesario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Calorías (Kcal)</td>
                                        <td>{{ analisis.calorias_consumidas }}</td>
                                        <td>{{ analisis.calorias_necesarias }}</td>
                                    </tr>
                                    <tr>
                                        <td>Proteínas (g)</td>
                                        <td>{{ analisis.proteinas_consumidas }}</td>
                                        <td>{{ analisis.proteinas_necesarias }}</td>
                                    </tr>
                                    <tr>
                                        <td>Carbohidratos (g)</td>
                                        <td>{{ analisis.carbohidratos_consumidas }}</td>
                                        <td>{{ analisis.carbohidratos_necesarios }}</td>
                                    </tr>
                                    <tr>
                                        <td>Grasas (g)</td>
                                        <td>{{ analisis.grasas_consumidas }}</td>
                                        <td>{{ analisis.grasas_necesarias }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="mt-5">Recomendaciones</h3>
                            <ul>
                                {% for recomendacion in analisis.recomendaciones %}
                                    <li>{{ recomendacion }}</li>
                                {% endfor %}
                            </ul>


                            <h3 class="mt-5">Sugerencias de alimentos:</h3>
                            <ul>
                                {% for alimento in sugerencias_macro_micro %}
                                    <li>
                                        {{ alimento.nombre }} -
                                        Proteínas: {{ alimento.proteinas }},
                                        Carbohidratos: {{ alimento.carbohidratos }},
                                        Grasas: {{ alimento.grasas }}
                                        {% for nutriente in alimento.alimentonutriente_set.all %}
                                            - {{ nutriente.nutriente.nombre }}: {{nutriente.cantidad}} {{ nutriente.unidad }}
                                        {% endfor %}
                                        <div>
                                            <a href="{% url 'registro_diario'%}" class="btn btn-warning">Registrar Alimento</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Aquí termina el contenido de tu análisis nutricional -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end agregar alimento section -->

    <!-- footer section -->
    <footer class="container-fluid footer_section">
        <p>
            &copy; 2023 All Rights Reserved. Design by NutriVista
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </footer>
    <!-- footer section -->

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>



